/* All
---------------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: auto;
	height: auto;
}

/* camera
---------------------- */
div[name="wrapper"] {
	box-sizing: border-box;

	background: rgba(0, 0, 0, 0.7);
	/* wrapper_水色枠線 */
	border: 1px solid #53d6ff;
	/* アイコン_ピンクシャドウ */
	box-shadow: 2px 2px 0px #ff53df;
	border-radius: 12px;

	/* width: 334px;
	height: 705px; */
}

#mobileNetCanvas,
#clipping {
	display: none;
}

/* firebase
---------------------- */
#boardHistory {
	width: 300px;
	height: 100px;
	overflow: auto;
}
