/* All
---------------------- */
* {
	margin: 0;
	padding: 0;
	
}

html {
	/* display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center; */
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

/* camera
---------------------- */
div[name="whole"] {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:space-between;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.7);
	/* wrapper_水色枠線 */
	border: 1px solid #53d6ff;
	/* アイコン_ピンクシャドウ */
	box-shadow: 2px 2px 0px #ff53df;
	border-radius: 12px;
	height: 90%;
	width: 90%;
}

div[name="title"] {
	height: 10%;
}

div[name="camera"] {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 50%;
}
#mainCanvas {
	height: 100%;
	width: 90%;
}

div[name="button"] {
	height: 10%;
}

div[name="result"] {
	height: 10%;
}

div[name="gopage"] {
	height: 10%;
}



#mobileNetCanvas,
#clipping {
	display: none;
}
/* firebase
---------------------- */
#boardHistory {
	width: 300px;
	height: 100px;
	overflow: auto;
}

/* テスト */
